<!DOCTYPE html>
<html>
<head>
    <title>Nearest Storage Viewer</title>
    <style>
        body { font-family: Arial; margin: 20px; text-align: center; }
        img { max-width: 500px; border-radius: 6px; margin-top: 20px; }
        .button { padding: 10px 20px; background: #007BFF; color: white;
                  border: none; border-radius: 5px; cursor: pointer; margin-top:20px; }
        .button:hover { background: #0056b3; }
    </style>
</head>
<body>

<h2>Nearest Server</h2>

<p><strong>Nearest Storage Server:</strong> {{.NearestPort}}</p>

<h3>File: {{.Filename}}</h3>

<img src="{{.PreviewURL}}" alt="Nearest Image">

<br>
<button class="button" onclick="window.location='/files'">Back to File List</button>

</body>
</html>
